{%extends 'base.html'%}
{% block body %}
      
      
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->

   <div class="container py-4 px-5">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-3">Sign up now</h2>

            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show"role="alert">
              <h6>{{message}}</h6>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
            </div>
            {% endfor %}



            <form method="post" action="{% url 'perform_signup' %}">
              {%csrf_token%}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              {% comment %} <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div> {% endcomment %}

              <div class="form-outline mb-4">
                <input type="text" id="form3Example3" name="username" class="form-control"Required />
                <label class="form-label" for="form3Example3">Username</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" name="email" class="form-control" Required/>
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" name="password" class="form-control"Required />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4"  name="confirmpassword" class="form-control"Required />
                <label class="form-label" for="form3Example4">Confirm password</label>
              </div>


              {% comment %} <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  remember me
                </label>
              </div> {% endcomment %}

              <!-- Submit button -->
             
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
         

              <!-- Register buttons -->
             <div>
             
                <p class="text-center text-muted  mb-0">Have already an account? <a href={% url "login" %}
                  class="fw-bold text-body"><u>Login here</u></a></p>
                </form>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img style="height:612px; width:500px;" src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class=" rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

</section>
<!-- Section: Design Block -->
 {% endblock body%}
  